.container{
    display:flex;
    flex-direction: row;
    width:100%;
    margin-top: 50px;
    
    
    
    
    
    


}
.cardlist1{
    
    margin:10px 10px 10px 10px;
    width:50%;
    
    
   

}
.cardlist2{
    margin:10px 10px 10px 10px;
    width:50%;
    
    
    
    

}
.card{
    margin :4% 4% !important;

    
    
}
.infected{
    
    border-bottom: 5px solid #636363
}
.recovered{
    
    border-bottom: 5px solid #69A469
}                        

.deaths{
    
    border-bottom: 5px solid #DB6F4B
}