.container{
    margin:10px 50px ;
    display:flex;
    flex-direction:row;
    width:100%;
    
    
    
    
    


}
.cardlist1{
    margin:50px 10px ;
    width:40%;
    
    
   

}
.cardlist2{
    margin:50px 10px ;
    width:40%;
    
    

}
.card{
    margin :2% 2% !important;
    
    
}
.infected{
    
    border-bottom: 5px solid #636363
}
.recovered{
    
    border-bottom: 5px solid #69A469
}                        

.deaths{
    
    border-bottom: 5px solid #DB6F4B
}