body{
    background-color: rgb(250,250,250);
    margin:0px 0px 0px 0px;
}

.container{
    display: flex;

    flex-direction: row; 
    
}
.container1{
    display: flex;
    
    flex-direction: column; 
    width:50%
    
}
.container2{
    display: flex;
    z-index: -1;
    
    flex-direction: column; 
    width:50%
    
}